<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Countdown</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="manifest.json" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body class="countdown-app">
        <div id="app" class="container" v-on:touchstart="touchStart" v-on:touchend="touchEnd">
            <div class="section row" v-if="!displaySettings">
                <current-month v-bind:day="day" v-if="visibleMetrics.indexOf('CurrentMonth') !== -1"></current-month>
                <weeks-plus-days v-bind:day="day" v-if="visibleMetrics.indexOf('WeeksPlusDays') !== -1"></weeks-plus-days>
                <percentage v-bind:day="day" v-if="visibleMetrics.indexOf('Percentage') !== -1"></percentage>
                <size v-bind:day="day" v-if="visibleMetrics.indexOf('Size') !== -1"></size>
                <weight v-bind:day="day" v-if="visibleMetrics.indexOf('Weight') !== -1"></weight>
            </div>

            <div class="settings card" v-if="displaySettings">
                <div class="card-content">
                    <button v-on:click="toggleSettings" class="btn">Close settings</button>
                    <h3>Widgets</h3>
                    <input type="checkbox" id="CurrentMonth" value="CurrentMonth" v-model="visibleMetrics"/>
                    <label for="CurrentMonth">
                        Current Month
                    </label>

                    <input type="checkbox" id="WeeksPlusDays" value="WeeksPlusDays" v-model="visibleMetrics"/>
                    <label for="WeeksPlusDays">
                        Weeks + Days
                    </label>

                    <input type="checkbox" id="Percentage" value="Percentage" v-model="visibleMetrics"/>
                    <label for="Percentage">
                        Percentage
                    </label>

                    <input type="checkbox" id="Size" value="Size" v-model="visibleMetrics"/>
                    <label for="Size">
                        Size
                    </label>

                    <input type="checkbox" id="Weight" value="Weight" v-model="visibleMetrics"/>
                    <label for="Weight">
                        Weight
                    </label>
                </div>
            </div>
        </div>
        <script src="js/bundle.js"></script>
    </body>
</html>
